html, body {
    position: relative;
    padding: 0; margin: 0;
    background-color: #234;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    min-width: 100%;
    min-height: 100%;
}

embed-html {
    display: block;
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

embed-body {
    margin: 0;
    display: block;
    box-sizing: border-box;
    padding: 8px;
}

html {
    overflow: hidden;
	height: 100%;
}

div, embed-body, embed-html {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    box-sizing: border-box;
}

#windowframeheader_btnCloseWindow {
    float: right;
    background-color: #633;
    width: 20px;
    text-align: center;
    outline-style: solid;
    outline-color: #324;
    cursor: pointer;
}

.windowframe_hresize {
    position: absolute;
    width: 4px;
    height: 100%;
    right: -2px;
    top: 0;
    cursor:ew-resize;
}

.windowframe_vhresize {
    position: absolute;
    width: 4px;
    height: 4px;
    right: -2px;
    bottom: -2px;
    cursor:nwse-resize;
}

.windowframe_vresize {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -2px;
    left: 0;
    cursor:ns-resize;
}

#quickMenu .btn, .menuToggle .btn {
    box-sizing: border-box;
    height: 60px;
    text-align: center;
    padding: 20px 0 0 20px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding-left: 40px;
}

#quickMenu .btn:hover, .menuToggle .btn:hover {
	background-color: #7080A0;
}

.windowframe {
    background-color: #456;
    position: absolute;
}

.windowframeheader {
    background-color: #568;
    padding: 5px;
    cursor: -webkit-grab;
}

.windowframecontents {
    overflow: hidden;
    min-width: 100%;
    width: 100%;
    height: calc(100% - 30px);
    min-height: 100%;
}
