body {
    padding: 0;
    height: 100%;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

main .fileSection {
    margin: 70px 10px 10px 10px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.fileSection doc-set {
    overflow: auto;
    background-color: #345;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px;
    flex-grow: 1;
}

#btnNewFile, #btnUploadFile {
    width: calc(50% - 4px);
    margin-top: 10px;
    box-sizing: border-box;
    background: #679;
    color: white;
    border: none;
}

.codeSection {
    position: relative;
}

#codeComponent {
    width: 100%;
    height: 100%;
    border-width: 0;
    margin: 0;
    resize: none;
    position: absolute;
}
