body {
    padding: 0;
    height: 100%;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

main .fileSection {
    margin: 70px 10px 10px 10px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.fileSection doc-set {
    overflow: auto;
    background-color: #345;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px;
    flex-grow: 1;
}

#btnNewFile, #btnUploadFile {
    width: calc(50% - 4px);
    margin-top: 10px;
    box-sizing: border-box;
    background: #789;
    color: white;
    border: none;
}

.codeSection {
    position: relative;
    display: flex;
    flex-direction: column;
}

#codeComponent {
    flex-grow: 1;
    border-width: 0;
    margin: 0;
    resize: none;
    margin-bottom: 10px;
}


.previewSection #preview {
    width: calc(100% - 10px);
    flex-grow: 1;
    overflow: auto;
    margin: 5px;
    background: white;
    color: black;
}

section.previewSection {
    position: relative;
    display: flex;
    flex-direction: column;
}

.FileListItem .btnDelete {
    float: right;
    border: 0;
    height: 100%;
    color: white;
    background: red;
    opacity: 0.1;
    transition: opacity 0.5s;
}

.FileListItem .btnDelete:hover {
    opacity: 1;
}

.FileListItem {
    display: flex;
    margin-bottom: 2px;
}

.FileListItem input {
    border: none;
    flex-grow: 1;
    background-color: initial;
    color: white;
}

.previewSection #btnRefresh {
    margin: 5px 0 0 5px;
}

.previewSection #pageSelector {
}

.previewSection header {
    position: relative;
}

.fileSection #btnShare {
    position: absolute;
    top: -70px;
    right: 0;
    height: 60px;
    width: 60px;
    border: none;
    background-color: #789;
    color: white;
}

span#shareVal {
    font-size: 10px;
}

.previewSection #shareVal a {
    text-decoration: none;
    color: #59F;
}

#imageComponent header {
    padding: 5px 0;
}

#imageComponent {
    flex-grow: 1;
    background-size: contain;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.codeSection header {
    position: relative;
}

.codeSection header * {
    margin: 5px;
}

section header button {
    padding: 1px 5px;
    border:0;
    background-color: #789;
    box-sizing: border-box;
    color: white;
}

.expcon {
    width:20px;
    height:20px;
    overflow: hidden;
} 

.codeProperty, .allProperty, .imageProperty {
    white-space: nowrap;
}

.btnSectionContract {
    display: none;
}

section.contracted {
    display: none;
}